.parallax {
  grid-column: page-start / page-end;
  grid-column: parallax-start / parallax-end;
  grid-row: 1 / -1;
  //height: 100rem;
  display: block;
  position: relative;
  //z-index: 10;

  &__layer {    
    background-position: 0 -50px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 105rem;
    position: absolute;

    &.parallax__scroll {
      position: fixed;
    }

    &--1 {
      background-image: url(../img/Background-1.svg);
    }

    &--2 {
      background-image: url(../img/Background-2.svg);
      background-position: 0 0;
    }

    &--3 {
      background-image: url(../img/Background-3.svg);
    }

    &--4 {
      background-image: url(../img/Background-4.svg);
    }

    &--5 {
      background-image: url(../img/Background-5.svg);
    }

    &--6 {
      background-image: url(../img/Background-6.svg);
    }

    &--7 {
      background-image: url(../img/Background-7.svg);
    }

    &--sun {
      position: fixed;
      top: 60%;
      left: 50%;
      background-color: #fde6d6;
      transform: translate(-50%, -50%);
      width: 300px;
      height: 300px;
      border-radius: 50%;
    }    
  }
}