*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 1.6rem;
    //background-color: #150008;
}

.container {
    background-color: #fafafa;
    /*
    display: grid;
    grid-template-rows: 100rem repeat(3, min-content);
    grid-template-columns: [page-start] 1fr [content-start] minmax(120rem, min-content) [content-end] 1fr [page-end];
    */
}